body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    background-color: #FFFFFF;
    margin: 0px;
}

#content div {
    margin: 0px 0px 30px 0px;
}

#content div div {
    margin: 0px 0px 0px 0px;
}

#help {
    width: 70%;
    text-align: justify;
    font-size: 13px;
}

div.explanation {
    text-align: justify;
    width: 70%;
    font-size: 13px;
}

img {
    border: none;
    vertical-align: bottom;
}

.hideme {
    display: none;
}

/********************************************************/
/*  HEADER                                              */
/********************************************************/

#header {
    padding: 5px 10px 5px 10px;
    margin: 0px;
    background: #466d94 url(./seed-bg-header.png);
    background-repeat: repeat-x;
    color: #eee;
}

#header a:link, #header a:visited {
    color: #eee;
    font-weight: normal;
    text-decoration: underline;
}

#header a:hover, #header a:focus {
    color: #333;
    font-weight: normal;
    text-decoration: underline;
}


#logo {
    float: left;
    margin: 0px 20px 0px 10px;
}

#title {
    font-size: 17pt;
    font-weight: bold;
}

#version {
    color: #000;
    font-size: 10px;
    width: 120px;
}

/********************************************************/
/*  MESSAGES                                            */
/********************************************************/

div#info {
    margin: 20px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    background: #cceecc;
    border: 2px solid #bbccbb;
}

div#warning {
    margin: 20px 10px 20px 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    color: #fff;
    background: #ff5555;
    border: 2px solid #ee2222;
}

/**********************************************************/
/* Floating Boxes                                         */
/**********************************************************/

div#controlpanel {
    padding-left: 10px;
    padding-right: 10px;
    background: #f0f0f0;
    border: 2px solid black;
}

div#floating_boxes {
    float: right;
    margin: 0px 15px 0px 15px;
    position: absolute;
    right: 0;
    z-index: 5;
}    

div#box_brown {
    width: 240px;
    margin: 0px 0px 20px 0px;
    padding-top: 5px;
    color: #000;
    background: #dbe5b6 url(./seed-floatingbox-top.png) no-repeat top left;
}

#box_brown div {
    margin: 0px;
    padding: 10px;
    color: #000;
    background: #dbe5b6 url(./seed-floatingbox-bottom.png) no-repeat bottom left;
}

div#small_box_brown {
    width: 140px;
    margin: 0px 0px 20px 0px;
    padding-top: 5px;
    color: #000;
    background: #dbe5b6 url(./seed-floatingbox-top.png) no-repeat top left;
}

#small_box_brown div {
    margin: 0px;
    padding: 10px;
    color: #000;
    background: #dbe5b6 url(./seed-floatingbox-bottom.png) no-repeat bottom left;
}


div#box_green {
    width: 240px;
    margin: 0px 0px 20px 0px;
    padding-top: 5px;
    color: #000;
    background: #a3c3b7 url(./seed-floatingbox-top.png) no-repeat top left;
}

#box_green div {
    margin: 0px;
    padding: 10px;
    color: #000;
    background: #a3c3b7 url(./seed-floatingbox-bottom.png) no-repeat bottom left;
}

div#small_box_green {
    width: 140px;
    margin: 0px 0px 20px 0px;
    padding-top: 5px;
    color: #000;
    background: #a3c3b7 url(./seed-floatingbox-top.png) no-repeat top left;
}

#small_box_green div {
    margin: 0px;
    padding: 10px;
    color: #000;
    background: #a3c3b7 url(./seed-floatingbox-bottom.png) no-repeat bottom left;
}

#floating_boxes h5 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 9pt;
}

#floating_boxes ul {
    margin: 0px 0px 15px 0px;
}

#floating_boxes li {
    padding: 0px;
    margin: 0px 0px 0px -30px;
    list-style-type: none;
}

#floating_boxes table {
    text-align: left;
    font-size: 10px;
}

#floating_boxes th {
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
}

#floating_boxes td {
    padding: 3px 5px 3px 5px;   
}

#floating_boxes a:link, #floating_boxes a:visited {
    color: #000;
    background: inherit;
    text-decoration: none;
}

#floating_boxes a:hover, #floating_boxes a:focus {
    color: #000;
    background: inherit;
    text-decoration: underline;
}


/********************************************************/
/*  ????                                                */
/********************************************************/

div#content {
   margin: 0px 10px 0px 10px;
}

.hideme {
    display: none;
}

img {
    padding: 0px 5px 0px 0px;
    vertical-align: middle;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

table {
    text-align: left;
}

th {
    font-size: 12px;
    background: #ddd;
    vertical-align: top;
    padding: 3px 5px 3px 5px;
}

td {
    font-size: 12px;
    vertical-align: center; 
}


#highlight th, #highlight td {
    vertical-align: top;
    background: #a5c8f0;   
}

/********************************************************/
/*  Table                                               */
/********************************************************/
table.table_table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.highlight td.table_even_row, .highlight td.table_odd_row, .highlight td  {
    background-color: #86d392;
}

td.highlight {
    background-color: #86d392;
    border: 1px solid black;
}

.dehighlight td {
    
}

a.table_first_row {
    color: #fff;
    text-decoration: none;
}

td.table_first_row {
    border: 1px solid black;
    background-color: #688fc5;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
}

td.table_even_row {
    border: 1px solid black;
    background-color: #ebebeb;
    padding: 2px;
}

td.table_odd_row {
     border: 1px solid black;
     padding-left: 2px;
}

table.table_browse {
    color: black;
    text-decoration: none;
    width: 100%;
}

.table_perpage {
    width: 100%;
    font-size: 8pt;
    text-align: center;
}

.cell {
    border: none;
    background-color: transparent;
    color: black;
    cursor: default;
    width: 100%;
}

.disp {
    border: none;
    background-color: transparent;
    color: black;
    cursor: default;
    width: 50px;
    text-align: center;
}


/********************************************************/
/*  TOOLTIP                                             */
/********************************************************/

table.tooltip {
    border: 2px solid #466d94;
    border-spacing: 0px;
}

th.tooltip {
    text-align: center;
    padding: 2px;
    color: #fff;
    background: #688fc5;
    font-weight: bold;
    border-bottom: 1px solid #466d94;
    font-size: 12px;
}

td.tooltip {
    padding: 2px;
    color: #000;
    background: #ebebeb;
    font-size: 11px;
}

/********************************************************/
/*  TREEVIEW                                            */
/********************************************************/

div.tree {
    margin: 0px 15px 0px 0px;
}

/********************************************************/
/*  SWITCH                                              */
/********************************************************/

.switch_on {
    font-size: 9pt;
    font-weight: normal;
    padding: 4px;
    margin: 2px;
    border: 1px inset black;
    background-color: #747474;
    cursor: pointer;
}

.switch_off {
    font-size: 9pt;
    font-weight: normal;
    padding: 4px;
    margin: 2px;
    border: 1px outset black;
    background-color: #d7d7d7;
    cursor: pointer;
}

/*********************************************************/
/*   CHECKBOX                                            */
/*********************************************************/
input.smallcheck {
    height: 7px;
    width: 7px;
    color: red;
    font-size: 10px;
    font-weight: normal;
} 

/*********************************************************/
/*   OPTION MENU                                         */
/*********************************************************/

.listbox {
    width: 150px;
    font-size:10px;
}
